@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  /* colors */
  --color-brand-primary-50: #f5f6f9;
  --color-brand-primary-100: #e7eaf2;
  --color-brand-primary-200: #d5dae8;
  --color-brand-primary-300: #b8c2d8;
  --color-brand-primary-400: #95a3c5;
  --color-brand-primary-500: #7c89b5;
  --color-brand-primary-600: #6a73a6;
  --color-brand-primary-700: #5e6497;
  --color-brand-primary-800: #50537d;
  --color-brand-primary-900: #3d405b;
  --color-brand-primary-950: #2c2d3f;

  --color-brand-success-50: #f4f9f6;
  --color-brand-success-100: #dcebe3;
  --color-brand-success-200: #b9d6c7;
  --color-brand-success-300: #81b29a;
  --color-brand-success-400: #669b83;
  --color-brand-success-500: #4c8069;
  --color-brand-success-600: #3b6654;
  --color-brand-success-700: #325345;
  --color-brand-success-800: #2b443a;
  --color-brand-success-900: #273a32;
  --color-brand-success-950: #13201b;

  --color-brand-warning-50: #fdf8ef;
  --color-brand-warning-100: #fbf0d9;
  --color-brand-warning-200: #f6deb2;
  --color-brand-warning-300: #f2cc8f;
  --color-brand-warning-400: #e9a44e;
  --color-brand-warning-500: #e48a2b;
  --color-brand-warning-600: #d57221;
  --color-brand-warning-700: #b1581d;
  --color-brand-warning-800: #8d461f;
  --color-brand-warning-900: #723b1c;
  --color-brand-warning-950: #3d1c0d;

  --color-brand-error-50: #fdf5f3;
  --color-brand-error-100: #fbeae5;
  --color-brand-error-200: #f9d8cf;
  --color-brand-error-300: #f3bcae;
  --color-brand-error-400: #eb957e;
  --color-brand-error-500: #e07a5f;
  --color-brand-error-600: #ca5738;
  --color-brand-error-700: #a9462c;
  --color-brand-error-800: #8d3c27;
  --color-brand-error-900: #753727;
  --color-brand-error-950: #3f1a10;

  --color-brand-neutral-50: #fafafa;
  --color-brand-neutral-100: #f2f2f2;
  --color-brand-neutral-200: #e6e6e6;
  --color-brand-neutral-300: #d6d6d6;
  --color-brand-neutral-400: #a5a5a5;
  --color-brand-neutral-500: #767676;
  --color-brand-neutral-600: #575757;
  --color-brand-neutral-700: #434343;
  --color-brand-neutral-800: #292929;
  --color-brand-neutral-900: #1a1a1a;
  --color-brand-neutral-950: #0a0a0a;

  /* typography */
  --font-sans: var(--font-arapey);
  --font-serif: var(--font-karla);

  --text-fs-1000: 7rem;
  --text-fs-900: 4.5rem;
  --text-fs-800: 3rem;
  --text-fs-700: 2.25rem;
  --text-fs-600: 1.75rem;
  --text-fs-500: 1.25rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.875rem;
  --text-fs-200: 0.5rem;

  /* breakpoint */
  --breakpoint-lg: 1000px;
  --breakpiont-md: 760px;

  /* animation */
  --animate-marquee: marquee 4s linear infinite;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-serif text-fs-400 leading-normal tracking-normal overflow-x-hidden bg-brand-neutral-50 text-shadow-brand-neutral-950 dark:bg-brand-neutral-950;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-none;
  }
  p {
    @apply text-pretty;
  }
}

@utility writing-vertical {
  writing-mode: vertical-rl;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
